@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Mobile-friendly base font size */
@media (max-width: 640px) {
  html {
    font-size: 18px;
  }
}
